@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center col-md-12">
        <div class="text-center col-md-12">

            <h1 class="display-4">Welcome</h1>
            <p>
                Here you will know all my skills, academic training and professional experiences
            </p>

        </div>

        <div class="text-center col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="https://avatars3.githubusercontent.com/u/19317988" class="card-img-top" alt="profile photo">
                <div class="card-body">
                    <h5 class="card-title">Main skills</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Statistic</li>
                    <li class="list-group-item">Data analysis</li>
                    <li class="list-group-item">Web development</li>
                    <li class="list-group-item">Mathematical logic</li>
                    <li class="list-group-item">Customer Experience</li>
                </ul>
                <div class="card-body">
                    <a href="https://github.com/aureliowozhiak" class="card-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/aureliowozhiak/" class="card-link">Linkedin</a>
                </div>
            </div>

        </div>

        <div class="text-center col-md-8">

           

        </div>

    </div>
