@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center col-md-12">

        <h1 class="display-4">Welcome</h1>
        <p>
            Here you will know all my skills, academic training and professional experiences
        </p>


        <div class="card-columns text-center">

            <div class="col-md-4">

                <div class="text-center card" style="width: 18rem;">
                    <img src="https://avatars3.githubusercontent.com/u/19317988" class="card-img-top" alt="profile photo">
                    <div class="card-body">
                        <h5 class="card-title">Minhas habilidades principais</h5>
                        <p class="card-text">Separei algumas das minhas habilidades principais e focos de estudos/projetos.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Estatística e Análise de Dados</li>
                        <li class="list-group-item">Raciocínio lógico matemático</li>
                        <li class="list-group-item">Desenvolvimento Web</li>
                        <li class="list-group-item">Experiência do Usuário</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/aureliowozhiak" class="card-link">GitHub</a>
                        <a href="https://www.linkedin.com/in/aureliowozhiak/" class="card-link">Linkedin</a>
                    </div>
                </div>

            </div>

            <div class="col-md-8">


                <div class="text-center card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>
                        <p class="card-text">Describe.</p>
                        <a href="#" class="card-link">Link</a>
                    </div>
                </div>

                <div class="text-center card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>
                        <p class="card-text">Describe.</p>
                        <a href="#" class="card-link">Link</a>
                    </div>
                </div>

                <div class="text-center card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Orientação e Objetos</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Conceitos básicos</h6>
                        <p class="card-text">Curso que desenvolvi em 2017 com 10 aulas para ensinar os principais conceitos de orientação a objetos no meu canal do YouTube.</p>
                        <a href="https://www.youtube.com/watch?v=g8UAD8BJGWA&list=PLRCKdG6PaMS1HrTIw6foWv4CtqxPMJeys" target="_blank" class="card-link">Link da Playlist</a>
                    </div>
                </div>

                <div class="text-center card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Curso de Java</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Lógica de programação</h6>
                        <p class="card-text">Curso que desenvolvi em 2016 com mais de 30 aulas para ensinar lógica de programação em Java no meu canal do YouTube.</p>
                        <a href="https://www.youtube.com/watch?v=rdM1iCubQsg&list=PLRCKdG6PaMS02zE-ctR0ZHZUhcsx_yj-V" target="_blank" class="card-link">Link da Playlist</a>
                    </div>
                </div>

            </div>

            </div>

        </div>
